<main>
<div class="container">
    <div class=" card  text-center">
        <a [routerLink]="['/users']" class="btn btn-light">SHOW USERLIST</a>
        <a [routerLink]="['/sign-up']" class="btn btn-light">ADD USER</a>
        <a [routerLink]="['/import-data']" class="btn btn-light">IMPORT DATA</a>
        <a [routerLink]="['/add-company']" class="btn btn-light">ADD COMPANY</a>
        <a [routerLink]="['/company']" class="btn btn-light">LIST COMPANIES</a>
        <a [routerLink]="['/manageexchange']" class="btn btn-light">ADD EXCHANGE</a>
        <a [routerLink]="['/list-exchange']" class="btn btn-light">LIST EXCHANGE</a>
        <a [routerLink]="['/add-ipo']" class="btn btn-light">ADD IPO</a>
        <a [routerLink]="['/list-ipo']" class="btn btn-light">LIST IPO</a>
        <a [routerLink]="['/add-stock-price']" class="btn btn-light">ADD STOCKPRICE</a>
        <a [routerLink]="['/list-stock-price']" class="btn btn-light">LIST STOCKPRICE</a>

    </div>
</div>
</main>